{% extends 'index.html' %}
{% block contact %}


<div class=" max-w-screen-sm flex flex-col text-center -translate-y-[27rem]  translate-x-[21rem]">
    <h2 class=" text-8xl  tracking-tight font-bold leading-tight text-[#FFE715]">Contact us</h2>
    <p class="  text-white font-semibold  md:text-lg">Got a technical issue? Want to send feedback about a beta feature? Need details about our Business plan? Let us know.</p>
</div>



<!-- Contact form -->

<section class="bg-white dark:bg-[#101820] -translate-y-[20rem] max-w-[59rem] mx-auto rounded-xl">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">


        <!-- Form -->
        <form action="/contact" method="post" class="space-y-8">

            
            <!-- Name -->
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-white dark:text-white">Your Name</label>
                <input type="text" id="subject" name="name" class="block p-3 w-full text-sm text-gray-900 bg-gray-200 dark:bg-gray-300 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500  dark:border-gray-600 dark:placeholder-gray-500 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="John" required>
            </div>


            <!-- Email -->
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-white dark:text-white">Your email</label>
                <input type="email" id="email" name="email" class="shadow-sm bg-gray-200 dark:bg-gray-300 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-500 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@flowbite.com" required>
            </div>


            <!-- Phone no -->
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-white dark:text-white">Phone no</label>
                <input type="tel" id="subject" name="mobile" class="block p-3 w-full text-sm text-gray-900 bg-gray-200 dark:bg-gray-300 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500  dark:border-gray-600 dark:placeholder-gray-500 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Your mobile number" required>
            </div>


            <!-- Message -->
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-white dark:text-white">Your message</label>
                <textarea id="message" name="msg" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-200 dark:bg-gray-300 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:border-gray-600 dark:placeholder-gray-500 dark:text-black dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a Message..."></textarea>
            </div>


            <!-- Send Button -->
            <button type="submit" class="relative inline-block px-4 py-2 font-medium group">
                <span class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-white group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full bg-gray-900 border-2 border-white group-hover:bg-white"></span>
                <span class="relative text-white group-hover:text-black">Send</span>
                </button>
    </div>
  </section>

{% endblock contact %}