{% extends 'index.html' %}
{% block home %}


<div class=" max-w-screen-sm flex flex-col text-left -translate-y-[30rem]  translate-x-[2rem]">
    <h3 class="text-2xl text-white">Hello! Welcome to</h3>
    <h2 class=" text-6xl  tracking-tight font-extrabold leading-tight text-[#FFE715] dark:-[#FFE715]">
        {{params['blog_name']}}</h2>
    <p class="  text-white font-bold  md:text-lg mt-4">Check Out Our Blog Posts Below</p>
    
    <img class="w-10 h-10 mt-10" src="/static/icons8-down-arrow.gif" alt="">
    
</div>


<div class="grid grid-cols-2 gap-8 mx-10">
    {% for posts in post %}
    {% set fname = posts.img_file %}
    <div class="transition ease-out delay-150 hover:-translate-y-1 hover:scale-110  duration-150">
    <a href="/post/{{posts.slug}}"
        class="bg-white border rounded-xl shadow-sm sm:flex dark:bg-black dark:border-gray-700 dark:shadow-slate-700/[.7] -translate-y-[13.25rem]  h-[15rem] w-[38rem] " >
        <div
            class="flex-shrink-0 relative w-full rounded-t-xl overflow-hidden pt-[40%] sm:rounded-s-xl sm:max-w-[15rem] md:rounded-se-none md:max-w-xs">
            <img class="w-full h-[15rem] absolute top-0 start-0" src="/static/{{fname}}" alt="Image Description">
        </div>
        <div class="flex flex-wrap">
            <div class="p-4 flex flex-col h-full sm:p-7">
                <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                    {{posts.title}}
                </h3>
                <p class="mt-1 text-gray-500 dark:text-gray-400">
                    {{posts.sub_title[0:45]}}...
                </p>
                <div class="mt-5 sm:mt-auto">
                    <p class="text-xs text-gray-500 dark:text-gray-500">
                        Posted admin at {{posts.date}}
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>
    {% endfor %}
</div>

{% endblock home %}